<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Serafins</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>GentiumPlus-I.ttf</string>
		<string>GentiumPlus-R.ttf</string>
		<string>icomoon.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Arial.ttf</string>
		<string>ceaswfte.ttf</string>
		<string>cebswfte.ttf</string>
		<string>ceiswfte.ttf</string>
		<string>Century Bold Italic.ttf</string>
		<string>Century Bold.ttf</string>
		<string>Century Normal.ttf</string>
		<string>CENTURY.ttf</string>
		<string>Kiona-Itallic.ttf</string>
		<string>Kiona-Regular.ttf</string>
		<string>arial.ttf</string>
		<string>arialbd.ttf</string>
		<string>arialbi.ttf</string>
		<string>ariali.ttf</string>
		<string>ariblk.ttf</string>
		<string>bahnschrift.ttf</string>
		<string>comic.ttf</string>
		<string>comicbd.ttf</string>
		<string>comici.ttf</string>
		<string>comicz.ttf</string>
		<string>consola.ttf</string>
		<string>consolab.ttf</string>
		<string>consolai.ttf</string>
		<string>consolaz.ttf</string>
		<string>cour.ttf</string>
		<string>courbd.ttf</string>
		<string>courbi.ttf</string>
		<string>couri.ttf</string>
		<string>Gabriola.ttf</string>
		<string>gadugi.ttf</string>
		<string>gadugib.ttf</string>
		<string>georgia.ttf</string>
		<string>georgiab.ttf</string>
		<string>georgiai.ttf</string>
		<string>georgiaz.ttf</string>
		<string>himalaya.ttf</string>
		<string>l_10646.ttf</string>
		<string>LeelaUIb.ttf</string>
		<string>LeelawUI.ttf</string>
		<string>LeelUIsl.ttf</string>
		<string>lucon.ttf</string>
		<string>malgun.ttf</string>
		<string>micross.ttf</string>
		<string>msjh.ttc</string>
		<string>msyh.ttc</string>
		<string>Nirmala.ttf</string>
		<string>NirmalaB.ttf</string>
		<string>NirmalaS.ttf</string>
		<string>segmdl2.ttf</string>
		<string>segoepr.ttf</string>
		<string>segoeprb.ttf</string>
		<string>segoesc.ttf</string>
		<string>segoescb.ttf</string>
		<string>segoeui.ttf</string>
		<string>segoeuib.ttf</string>
		<string>segoeuii.ttf</string>
		<string>segoeuil.ttf</string>
		<string>segoeuisl.ttf</string>
		<string>segoeuiz.ttf</string>
		<string>seguibl.ttf</string>
		<string>seguibli.ttf</string>
		<string>seguiemj.ttf</string>
		<string>seguihis.ttf</string>
		<string>seguili.ttf</string>
		<string>seguisb.ttf</string>
		<string>seguisbi.ttf</string>
		<string>seguisli.ttf</string>
		<string>seguisym.ttf</string>
		<string>sylfaen.ttf</string>
		<string>symbol.ttf</string>
		<string>tahoma.ttf</string>
		<string>tahomabd.ttf</string>
		<string>taile.ttf</string>
		<string>taileb.ttf</string>
		<string>times.ttf</string>
		<string>timesbd.ttf</string>
		<string>timesbi.ttf</string>
		<string>timesi.ttf</string>
		<string>wingding.ttf</string>
	</array>
</dict>
</plist>
